<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mderl -->
      <package
            uri="http://www.example.org/mderl"
            class="mderl.MderlPackage"
            genModel="model/mderl.genmodel"/>
   </extension>

</plugin>
